<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.heavenstar.zandi.persistance.CommentDao">
 
 	<select id="selectAll" resultType="CommentVO">
 		SELECT * FROM tbl_comment
 	</select>
 	 
 	<select id="findByComment" resultType="CommentVO">
 		SELECT * FROM tbl_comment WHERE c_seq = #{c_seq}
 	</select>
 	
 	<select id="findByGroupComment" resultType="CommentVO">
 		SELECT * FROM tbl_comment
					WHERE c_gname = #{c_gname}
 	</select>

 	<insert id="insert" parameterType="CommentVO">
		INSERT INTO tbl_group(
			c_seq,
			c_gname,
			c_username,
			c_comment
		)VALUES(
			#{c_seq},
			#{c_gname},
			#{c_username},
			#{c_comment}
		)
 	</insert>
 	
 	<update id="update" parameterType="CommentVO">
		UPDATE tbl_join_comment
		SET c_gname = #{c_gname}, 
			c_username = #{c_username},
			c_comment = #{c_comment}
		WHERE c_seq = #{c_seq} 
 	</update>
 	
 	<delete id="delete" parameterType="CommentVO">
		DELETE FROM tbl_comment WHERE c_seq = #{c_seq}
 	</delete>
 
 	<select id="create_group_table">
		CREATE TABLE IF NOT EXISTS tbl_comment(
			c_seq BIGINT AUTO_INCREMENT PRIMARY KEY,
			c_gname BIGINT NOT NULL UNIQUE,
			c_username INT NOT NULL,
			c_comment VARCHAR(500),
		)
 	</select>	

 </mapper> 